#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding: 5px 10px;

        &.new-user {
            background: #aaa;
            color: rgba($white, .75);
        }
    }
}