form {
    background: rgba($black, .125);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    border-top: 2px solid rgba($black, .3);

    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        border: 0;
        font-size: 13px;
        width: 100%;
        padding: 12px 10px;

        &:active,
        &:focus {
            outline: none;
        }
    }

    button {
        width: 10%;
        border: none;
        padding: 10px;
        color: #FFF;
        cursor: pointer;
        background: rgba($btn-color, 0.5);

        &:active,
        &:focus,
        &:hover {
            background: $btn-color;
        }

        .fa {
            position: relative;
            right: 2px;
        }
    }
}