* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li.new-user {
  background: #aaa;
  color: rgba(255, 255, 255, 0.75);
}

form {
  background: rgba(0, 0, 0, 0.125);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form input {
  border: 0;
  font-size: 13px;
  width: 100%;
  padding: 12px 10px;
}
form input:active, form input:focus {
  outline: none;
}
form button {
  width: 10%;
  border: none;
  padding: 10px;
  color: #FFF;
  cursor: pointer;
  background: rgba(130, 224, 255, 0.5);
}
form button:active, form button:focus, form button:hover {
  background: #82e0ff;
}
form button .fa {
  position: relative;
  right: 2px;
}

/*# sourceMappingURL=main.css.map */
